	<meta charset="utf-8">

	<title>Toledo Flood Hazard Visualizer</title>
	<link rel="shortcut icon" href="<%=location.dirCurrent%>img/favicon.ico" type="image/x-icon">
	<link rel="icon" href="<%=location.dirCurrent%>img/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="<%=location.dirCurrent%>lib/bootstrap/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.5.4/bootstrap-select.min.css"/>
	<link rel="stylesheet" href="<%=location.dirCurrent%>css/interface.css"/>
	<link rel="stylesheet" href="<%=location.dirCurrent%>css/custom.css"/>
	<link rel="stylesheet" href="<%=location.dirCurrent%>css/map.css"/>
	<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css"/>

	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"/>
	<link rel="stylesheet" href="<%=location.dirCurrent%>lib/Flaticon/flaticon.css"/>


	<!-- Preload jQuery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<!-- Preload d3 -->
	<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
	<!-- Preload Leaflet -->
	<script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
